<body>
  <header>
    <nav class="container-fluid border">
      <div class="row">
        <div class="col-lg-4 border p-0">
          <button type="submit" class="button-menu">
            <img [src]="menuLeft" class="img-fluid img-button">
          </button>
          <img src="../../assets/img/1855701.ico">
        </div>
        <div class="col-lg-8 border p-0">
          <ul>
            <li>
              {{ currentDate | date: "full" }}
            </li>
            <li>
              <a class="linkPage">
                <fa-icon [icon]="iconBug"></fa-icon>
              </a>
            </li>
            <li>
              <a class="linkPage">
                <fa-icon [icon]="iconQuestion"></fa-icon>
              </a>
            </li>
            <li>
              <a class="linkPage">
                <fa-icon [icon]="iconUser" style="margin-right: 5px"></fa-icon>
                Admin PT Hamzah
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section>
    <div class="container-fluid border body-article">
      <div class="row justify-content-evenly border">
        <div class="col-3 border menu-aside">
          <h1>Search</h1>
        </div>
        <div class="col-8 border content-menu">
          <h1>Icon Data</h1>
        </div>
      </div>
    </div>
  </section>
</body>
