<body>
  <header>
    <nav class="container-fluid">
      <div class="row">
        <div class="col-lg-4 p-0">
          <button class="button-menu">
            <img [src]="iconMenuLeft" class="img-fluid img-button" />
          </button>
        </div>
        <div class="col-lg-8 p-0">
          <ul>
            <li>
              {{ currentDate | date: "full" }}
            </li>
            <li>
              <a class="linkPage">
                <fa-icon [icon]="iconBug"></fa-icon>
              </a>
            </li>
            <li>
              <a class="linkPage">
                <fa-icon [icon]="iconQuestion"></fa-icon>
              </a>
            </li>
            <li>
              <a class="linkPage">
                <fa-icon [icon]="iconUser" style="margin-right: 5px"></fa-icon>
                Admin PT Hamzah
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section>
    <div class="container-fluid body-article">
      <div class="row justify-content-evenly">
        <div class="col-3 menu-aside">
          <h1>Search</h1>
          <form [formGroup]="searchingForm">
            <!-- <mat-checkbox
              style="margin-right: 15px"
              formControlName="visitorToday"
              >Today Visitors</mat-checkbox
            > -->
            <div class="row mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name of Visitor</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="visitorName"
                  [matAutocomplete]="auto"
                />
                <mat-error *ngIf="errorSearch">Please Insert Something for Search</mat-error>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option.visitorName"
                  >
                    {{ option.visitorName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="container p-0 mt-2">
              <button class="btn-search" (click)="onSearch()">Searching</button>
              <button class="btn-back" (click)="onBack()" [hidden]="showSearching || errorNoData">Back</button>
            </div>
          </form>
        </div>

        <div class="col-8 row content-menu">
          <div class="icon-cloud">
            <fa-icon [icon]="iconCloudArrow" class="fa-4x"></fa-icon>
          </div>
          
          <div class="mat-elevation-z8" [hidden]="showSearching || errorNoData">
            <mat-spinner *ngIf="!spinner" class="spinner"></mat-spinner>
            <table mat-table [dataSource]="visitors" *ngIf="spinner">
              <ng-container matColumnDef="noIndex">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 + paginator.pageIndex * paginator.pageSize }}
                </td>
              </ng-container>

              <ng-container matColumnDef="visitorId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.visitorId }}
                </td>
              </ng-container>

              <ng-container matColumnDef="visitorName">
                <th mat-header-cell *matHeaderCellDef>NAME</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.visitorName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>VISIT</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt | date: "short" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="clinic">
                <th mat-header-cell *matHeaderCellDef>CLINIC</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.clinic.clinicName }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator
              #paginator
              [pageSize]="8"
              [pageSizeOptions]="[8, 16, 24]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>

          <span [hidden]="!errorNoData">Oopss Sory... Your Searching Is Not Found..<br />
            You must click <i>Button</i> behind this to start searching again
          </span>
          <div class="">
            <button class="btn btn-primary" (click)="onBackList()" [hidden]="!errorNoData">Click</button>
          </div>

          <div class="mat-elevation-z8" [hidden]="!showSearching || errorNoData">
            <table mat-table [dataSource]="searchedVisitors">
              <ng-container matColumnDef="noIndex">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 + paginator.pageIndex * paginator.pageSize }}
                </td>
              </ng-container>

              <ng-container matColumnDef="visitorId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.visitorId }}
                </td>
              </ng-container>

              <ng-container matColumnDef="visitorName">
                <th mat-header-cell *matHeaderCellDef>NAME</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.visitorName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>VISIT</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt | date: "short" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="clinic">
                <th mat-header-cell *matHeaderCellDef>CLINIC</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.clinic.clinicName }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator
              #paginator
              [pageSize]="8"
              [pageSizeOptions]="[8, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
            <div class="mb-2">
              <button class="btn btn-primary" (click)="onBackList()">back to list</button>
            </div>
          </div>






          <!-- <table class="table table-stripe">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">ID Visitor</th>
                <th scope="col">Name Visitor</th>
                <th scope="col">Date Visit</th>
                <th scope="col">Poliklinik</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i=index">
                <td scope="row">{{ i+1 }}</td>
                <td scope="row">{{ item.id }}</td>
                <td scope="row">{{ item.name }}</td>
                <td scope="row">{{ item.visit }}</td>
                <td scope="row">{{ item.klinik }}</td>
              </tr>
              <tr *ngFor="let item of list; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td scope="row">{{ item.id }}</td>
                <td scope="row">{{ item.name }}</td>
                <td scope="row">{{ item.visit | date: "short" }}</td>
                <td scope="row">{{ item.klinik }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </section>
</body>
